
.membresinput{
    height: 685px !important;
    
   
}

.colm{
    background-color: white !important;
}


.bagcolor-figma{
    background-color: #093545 !important;
    color: white !important;
}

.champ{
    width: 300px;
    
}
.champ2{
    width: 253px;
}

